

.Main-container{
    min-height: 100vh;
    padding: 15px;
    max-width: 100%;
}


.background-container{
    background-color: #fa650f;
}
.custom-tooltip {
    max-width: 400px !important; 
    padding: 10px; 
    font-size: 14px; 
  }
  

.custom-tooltip {
    min-width: 200px; 
  }
  

  .nav-link {
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
  }
  

  .custom-tooltip ul {
    padding-left: 20px;
  }
  
  .custom-tooltip a {
    color: #007bff;
    text-decoration: none;
  }
  
  .custom-tooltip a:hover {
    text-decoration: underline;
  }

.custom-tooltip {
    max-width: 300px;
    padding: 10px;
    font-size: 14px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
  

  .tooltip-link {
    color: #007bff;
    text-decoration: none;
    font-weight: normal;
  }
  

  .tooltip-link:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  

  .custom-tooltip ul {
    padding-left: 20px;
  }
  

  .nav-link {
    font-weight: 600;
  }
  
  .nav-link:hover {
    color: #007bff;
  }

  


  .card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card-hover:hover {
    transform: scale(1.05); /* Slightly enlarges the card */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Adds a shadow effect */
  }
  
  .card-hover img {
    transition: transform 0.3s ease;
  }
  
  .card-hover:hover img {
    transform: scale(1.1); /* Zooms in the image slightly */
  }
  

  .welcome-message {
    background-color: #f7f9fc; /* Light background for soft look */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  .welcome-message h1 {
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    margin-bottom: 15px;
  }
  
  .welcome-message p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: #6c757d;
  }
  
  .welcome-message .text-warning {
    color: #ffc107; /* Gold color for emphasis */
  }
  
  .welcome-message .text-primary {
    color: #007bff; /* Blue color for the heading */
  }
  